<div class="container__big__card">

    <div class="big__card__img">
    <img src="https://bs-uploads.toptal.io/blackfish-uploads/components/blog_post_page/content/cover_image_file/cover_image/1275957/retina_1708x683_cover-top-18-most-common-angularjs-developer-mistakes-41f9ad303a51db70e4a5204e101e7414.png"
    alt="foto placeholder" width="100%" srcset="">
</div>

    <div class="title__card">
      
        <h1> <a href=""> Saiu nova versão do Angular</a> </h1>

    </div>
    <div class="big__card__descrision">
        
        <p>           <a href="">
            asdoaskdqweqweoqiweqwkejqioweqlkwejasdasdasdasdasddsd
            qowelasdkasdkansdasdpoaskdoasdasdasdasasdasdasdasdsdss
            dasdasdasdasdaasodasdsdsdasdsdasdasdasdasdasdasd,ewewe
            asdoaskdqweqweoqiweqwkejqioweqlkwejasdasdasdasdasddsd
            qowelasdkasdkansdasdpoaskdoasdasdasdasasdasdasdasdsdss
            dasdasdasdasdaasodasdsdsdasdsdasdasdasdassdsddasdasd. 
        </a>
        </p>
    </div>
    

</div>
